html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  transform: 50% 50%;
  width: 50%;
  margin: 0;
  padding: 0 1px;
  text-align: center;    
}

.containers{
  padding: 0px;
  height: 250px;
  width: 250px;
  margin: 0;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card {
 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  padding: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  height: 50%;
  background-image: url(mirage-76.png);
  background-position: -60px -360px;
  color:black;
  font-weight: lighter;
  font-size: large;
  padding-top: 100px;
}
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}



