@media all and (max-width: 1280px) {
  .top-wrapper h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }

  .up {
    width: 50%;
    margin-bottom: 50px;
  }
  .logo{
    margin-left: -75px;
  }
}

/* For Smartphones */
@media all and (max-width: 800px) {
  .header-right {
    display: none;
  }

  .menu-icon {
    display: block;
  }
  .logo{
    margin-left: -75px;
  }

  .btn {
    width: 100%;
  }


  .top-wrapper {
    text-align: left;
  }

  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }

  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }

  .up {
    width: 100%;
  }

  footer {
    text-align: center;
  }
}