.cente {
    display: block;
    text-align: center;
}

.intro{
text-align: center;
padding-top: 100px;


}
.intro h1{

    font-size: 60px;
}
.intro h2{
    font: size 40px;
}
.intro p{
    font-size: large;
}
body{
    background-image: url(https://img.freepik.com/free-vector/blue-white-low-poly-triangle-shapes-background_1035-19007.jpg?size=626&ext=jpg);
height: 100%;
background-size: cover;

}