body{
  background-image: url(sky.jpg);
 
  background-size: cover;
}
.cont{
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 375px;
  max-height: none;
  margin: auto;
  text-align: center;
  color: white;
  font-family: arial;
  background: rgba(0, 0, 0, 0.385);
  border-radius: 15%;
  
}

i.fa {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px rgb(255, 255, 255);
  padding: 0.5em 0.6em;

}

.bio{
    color: grey;
}
.imr{
    margin-top: 25px;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}
 .title{
  color:grey;
  font-size: 18px;
}

/* button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius: 10%;
} */

a {
  text-decoration: none;
  font-size: 22px;
  color: white;
}


