html{
    background-image: url("https://img.freepik.com/free-vector/abstract-paper-hexagon-white-background_51543-7.jpg?size=626&ext=jpg");
    
}
.twt{
    margin-left:22%;
}
.mainpage
{
    box-sizing: border-box;
    float:left;
}

.col-1
{
    float:left;
    margin-left:16px;
    width:17%;
    font-weight: bolder;
    margin-top:10px;
    text-shadow: 0px 0px 1px #000000;
    color:rgb(68, 21, 155);
    text-transform: uppercase;
}



#details
{
    font-size: 17px;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-weight: normal;
    text-shadow: 0px 0px 1px #00000073;
    color:black;
}

.col-2
{
    float:left;
    width:45%;
    margin-left:25px;
    font-weight:bolder;
    text-align:justify;
    text-shadow: 0px 0px 0.1px #000000;
    color:rgb(68, 21, 155);
}

.col-3
{
    text-transform: uppercase;
    float:left;
    width:25%;
    font-weight:bold;
    margin-left:25px;
    margin-top:10px;
}



@media all and (max-width: 1280px) {
    .top-wrapper h1 {
      font-size: 32px;
    }
  
    .heading h2 {
      font-size: 20px;
    }
  
    .up {
      width: 50%;
      margin-bottom: 50px;
    }
    .col-2{
        margin-left: 125px;
    }
    .logo{
        margin-left: -75px;
      }
    .col-3{
        margin-left: 125px;
    }

  }
  
  /* For Smartphones and tablets */
  @media all and (max-width: 800px) {
    .header-right {
      display: none;
    }
  
    .menu-icon {
      display: block;
    }
    .logo{
      margin-left: -75px;
    }
  
    .btn {
      width: 100%;
    }
  
  
    .top-wrapper {
      text-align: left;
    }
  
    .top-wrapper h1 {
      font-size: 24px;
      line-height: 36px;
    }
  
    .top-wrapper p {
      font-size: 14px;
      line-height: 20px;
    }
  
    .up {
      width: 100%;
    }
  
    footer {
      text-align: center;
    }
    .col-2{
        margin-left: 125px;
    }
    .col-3 p{
        display:none;
    }

  }